doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet' type="text/css" href='/css/styles.css')
    link(rel="icon" href="/img/weather.png")
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

  body
    block body_content
      h1 Empty Base Layout
      p This is uninitialized base-layout.pug body-content block.