
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: gray;
  border-top: 1px solid #eeeeee;

  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

h1 {
  color: grey;
  font-size: 64px;
  margin-bottom: 16px;
}

.portrait  {
  width: 250px;
}

.home-input {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid var(--dark-grey);
  width: 100%;
}

.searchInput {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--dark-green);
  color: var(--light-orange);
  font-size: 16px;
  line-height: 1.4;
  padding-left: 5px;
}

span.location:hover {
  background-color:#dadada;
}

.locinfo {
  margin: 10px auto 20px;
  min-height: 40px;
}

div#gmaps {
  height:   480px;
  width:    720px;
  display:  block; 
}
